* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-loc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: flex;
    gap: 1em;
    height: 60vh;
}

.map{
    width: 100% ;
    height: 100%;
}

h1 {
    color: green;
}

.loc-table{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    padding-top: 1em;
}

.loc-container{
    background-color: antiquewhite;
    border-radius: 1em;
    border: 1px solid gray;
    margin-bottom: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.name{
    font-weight: 700;
}